

@font-face {
    font-family: Script;
    src: url(fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: Text;
    src: url(fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: TextBold;
    src: url(fonts/CormorantGaramond-Bold.ttf);
}

@font-face {
    font-family: TextItalic;
    src: url(fonts/CormorantGaramond-Italic.ttf);
}

@font-face {
    font-family: Heading;
    src: url(fonts/Italiana-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Text';
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-size: 17px;
    background-color: #fff;
}


p {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

/* MAIN PAGE HEADER */
.header { 
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header a {
    padding: 0%;
    margin: 0%;
    height: 10vh;
    transition: all 0.5s ease;
    margin-top: -2vh;
}

.header a:hover {
    margin-top: -10vh;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

#mainhead {
    background-image: url('images/header.png');
    height: 150%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

#headtexttop {
    font-family: 'Heading';
    font-size: 50px;
}

#headtextbottom {
    font-family: 'Script';
    font-size: 130px;
    margin-top: -5vh;
}

.fa-chevron-down {
    font-size: 30px;
    padding-top: 15vh;
    padding-bottom: 2vh;
    color: #fff;
}

#homebars {
    color: #fff;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.588);
}

/* NAVIGATION MENU */
.headerbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 8vh;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-family: 'TextBold';
}

.menu-btn {
    border-style: none;
    font-family: 'TextBold';
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: #1c1c1c;
    margin-right: 1vw;
    font-size: 23px;
    margin-top: 1vh;
}

.close-menu-btn {
    border-style: none;
    font-family: 'TextBold';
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: #1c1c1c;
    margin-right: 1vw;
    font-size: 25px;

    display: none;
    margin-top: 1vh;
}

.fa-bars {
    transition: text-shadow 0.2s ease;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.fa-bars:hover {
    text-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.292);
}

.fa-xmark {
    transition: text-shadow 0.2s ease;
    transition: all 0.5s ease;
}

.fa-xmark:hover {
    text-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.292);
    cursor: pointer;
}
  
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    color: rgb(28, 28, 28);
    display: flex;
    align-items: flex-end;
    justify-content: left;
    visibility: hidden;
    z-index: 99;
}
  
.nav-menu ul {
    list-style: none;
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
  
.nav-menu ul li {
    font-family: 'Heading';
    margin-left: 3vw;
    margin-top: 3vh;
}
  
.nav-menu ul li a {
    color: rgb(28, 28, 28);
    text-decoration: none;
    font-size: 5.5rem;
    transition: color 0.3s;
    transition: margin-left 0.3s;
}
  
.nav-menu ul li a:hover {
    color: cadetblue;
    margin-left: 2rem;
}


/* MAIN PAGE BODY CONTENT */
main {
    background-color: rgb(255, 255, 255);
    color: rgb(28, 28, 28);
}

#homemain {
    padding-top: 35vh;
    padding-bottom: 22vh;
}

.firstpara {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.mermacorn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.topbar {
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: rgb(28, 28, 28);
    font-family: 'Heading';
    position: fixed;
    width: 100%;
    z-index: 3;
}

.bold {
    font-family: 'TextBold';
}


/* REGION PAGE STYLING */
#darkbars {
    color: #1c1c11;
    transition: all 0.5s ease;
    cursor: pointer;
}

#darkbars:hover {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.352);
    cursor: pointer;
}

#regionmain {
    color: #1c1c11;
    background-color: #fff;
    height: 100vh;
}

#gallery img {
    width: 20vw;
}

#galtext {
    width: 20vw;
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#script {
    font-size: 60px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 90vh;
}

#toprow {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3vh;
}

#botrow {
    display: flex;
    flex-wrap: nowrap;
}

.galcenter {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 0;
    margin-bottom: 0;
}

.hoveroverlay {
    height: 20vw;
    width: 20vw;
    color: #fff;
    transition: all 0.5s ease;

    font-family: Heading;
    text-align: center;
    font-size: 40px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noheight {
    height: 0;
}

.hoveroverlay p {
    display: none;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.588);
    padding: 1.5vw;
}

.desctext {
    font-family: Text;
    font-size: 15px;
}

#arkmorehover {
    background-color: #585542b4;
}

#ashariahover {
    left: 61.5vw;
    background-color: #545842b4;
}

#kidetahover {
    background-color: #584b42b4;
}

#kmorehover {
    left: 40vw;
    background-color: #252c2bb4;
}

#othhover {
    left: 61.5vw;
    background-color: #12110eb4;
}

/* INHABITANTS PAGE */
#inhabmain {
    margin: 0;
    padding: 0;
    padding-bottom: 5vh;
    padding-top: 9vh;
    
    padding-left: 3vw;
    height: 100%;
}

#inhabmain header {
    font-family: Heading;
    color: #fff;
    font-size: 38px;

    background-image: url(images/header.png);
    background-size: cover;
    width: 90vw;
    height: 20vh;

    display: flex;
    align-items: flex-end;
    padding-left: 2vw;
    padding-bottom: 0;
}

#inhabmain h1 {
    margin: 0;
    text-shadow: 0px 0px 20px #1c1c1c9f;
}

#inhabmain h2 {
    margin: 0;
    margin-left: 2vw;
    font-size: 42px;
    margin-top: 7vh;
}

.inhablist {
    margin-left: 2vw;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.subheading {
    font-family: Heading;
    font-size: 27px;

    position: relative;
    display: inline-block;
    z-index: 5;

    padding-right: 4vh;
    padding-left: 1vw;
    transition: all 0.5s ease;
}

.subheading::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: 100%;
    height: 2.5vh;
    background-color: #BC9116;
    z-index: -1;
    transition: all 0.3s ease;
}

.subheading:hover::before {
    height: 4.5vh;
}

.slideunder {
    position: relative;
    display: inline-block;
    z-index: 5;
    
    transition: all 0.5s ease;
}

.slideunder::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: 0%;
    height: 0.1vh;
    background-color: #1c1c1c;
    z-index: -1;
    transition: all 0.3s ease;
}

.slideunder:hover::before {
    width: 100%;
}

.inhablist a {
    color: #1c1c1c;
}

.inhablist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inhablist li {
    font-size: 19px;
    margin-bottom: 1vh;
}

.inhab {
    margin-right: 10vw;
}

@media (max-width: 900px) {
    #galtext {
        font-size: 20px;
    }

    #script {
        font-size: 30px;
    }

    #heightcontrol {
        height: 50vw;
    }

    .hoveroverlay {
        font-size: 20px;
    }
}