

@font-face {
    font-family: Script;
    src: url(../fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: Text;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: TextBold;
    src: url(../fonts/CormorantGaramond-Bold.ttf);
}

@font-face {
    font-family: TextItalic;
    src: url(../fonts/CormorantGaramond-Italic.ttf);
}

@font-face {
    font-family: Heading;
    src: url(../fonts/Italiana-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Text';
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-size: 17px;
}

a {
    text-decoration: none;
}

/* HEADER BAR + NAVIGATION MENU */
.headerbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 8vh;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-family: 'TextBold';
}

.menu-btn {
    border-style: none;
    font-family: 'TextBold';
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: #1c1c1c;
    margin-right: 1vw;
    font-size: 23px;
}

.open-menu {
    border-style: none;
    font-family: 'TextBold';
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: #1c1c1c;
    margin-left: 1.5vw;
    font-size: 23px;
    cursor: pointer;

    display: none;
}

.close-menu-btn {
    border-style: none;
    font-family: 'TextBold';
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: #1c1c1c;
    margin-right: 1vw;
    font-size: 25px;

    display: none;
}

.fa-bars {
    cursor: pointer;
    padding: 1.5vh;
}

.fa-bars:hover {
    background-color: #5f9ea054;
    border-color: rgba(0, 0, 0, 0);
    color: #5f9ea0;
    border-radius: 50%;
}

.fa-xmark {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    transition: color 0.2s ease;
}

.fa-xmark:hover {
    background-color: #5f9ea054; 
    color: #5f9ea0;
    border-color: #1c1c1100;
    border-radius: 50%;
}

.collapse-menu {
    position: fixed;
    top: 8vh;
    left: 1.5vw;
    background-color: #fff;
    width: 250px;
    z-index: 5;

    border-style: solid;
    border-radius: 10px;
    border-color: rgba(95, 158, 160, 0.425);
    border-width: 3px;
    box-shadow: 0px 2px 10px rgba(95, 158, 160, 0.425);

    display: none;
}

.collapse-menu ul {
    list-style-type: none;
    padding-bottom: 5vh;
    padding-top: 3vh;
    margin: 0;
}

.collapse-menu li {
    margin-top: 2vh;
}

.fa-ellipsis {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    transition: color 0.2s ease;
}

.fa-ellipsis:hover {
    background-color: #5f9ea054; 
    color: #5f9ea0;
    border-color: #1c1c1100;
    border-radius: 50%;
}

.clicked-ellipsis {
    background-color: #5f9ea054; 
    color: #5f9ea0;
    border-color: #1c1c1100;
    border-radius: 50%;
}
  
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(255, 255, 255);
    color: rgb(28, 28, 28);
    display: flex;
    align-items: flex-end;
    justify-content: left;
    z-index: 99;

    transition: all 0.5s ease;
}
  
.nav-menu ul {
    list-style: none;
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
  
.nav-menu ul li {
    font-family: 'Heading';
    margin-left: 3vw;
    margin-top: 3vh;
}
  
.nav-menu ul li a {
    color: rgb(28, 28, 28);
    text-decoration: none;
    font-size: 4.5rem;
    transition: color 0.3s;
    transition: margin-left 0.3s;
}
  
.nav-menu ul li a:hover {
    color: cadetblue;
    margin-left: 2rem;
}

/* SIDEBAR NAV */
.sidenav {
    background-color: #F4F3F3;
    color: rgb(28, 28, 28);
    width: 250px;;
    height: 100%;
    position: fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.167) inset;
}

.sidenav ul {
    list-style-type: none;
    margin-top: 2.5vh;
}

.sidebarentry {
    position: relative;
    display: inline-block;
    margin-top: 3vh;
    z-index: 5;
    
    transition: all 0.5s ease;
}

.sidebarentry::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: 0%;
    height: 0.1vh;
    background-color: #1c1c1c;
    z-index: 100;
    transition: all 0.3s ease;
}

.sidebarentry:hover::before {
    width: 100%;
}

.sidenav a {
    color: rgb(28, 28, 28);
    transition: all 1s ease;
}

.firstnav {
    padding-top: 5vh;
}

/* SIDE TABLE */

.table table {
    border-collapse: collapse;
    padding: 0;
    margin-left: 3vw;
    margin-bottom: 2vh;
    margin-top: 10vh;
    float: right;
    width: 300px;
}

.table table tr p {
    font-size: 17px;
}

.table table th p {
    font-family: TextItalic;
    font-size: 15px;
    margin: 0;
    padding: 0.5vh;
    padding-bottom: 1vh;
}

tr:nth-child(even) {
    box-sizing: border-box; 
    border: 2px solid #ECECEC; 
}

tr:nth-child(odd) {
    background-color: #ECECEC;
    box-sizing: border-box; 
    border: 2px solid #ECECEC; 
}

.bold {
    font-family: TextBold;
}

.left {
    padding-left: 2vw;
    padding-right: 3vw;
}

.right {
    padding-left: 0.5vw;
}

.topimg {
   margin: 0;
   padding: 0;
   width: 300px;
}

.flag {
    text-align: center;
}

.flag img {
    width: 120px;
    padding: 0.5vh;
}

.flag p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
}

.crest {
    text-align: center;
}

.crest img {
    width: 75px;
    padding: 0.5vh;
}

.crest p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5vh;
}

table .map {
    width: 300px;
}

/* MAIN BODY */
.submain {
    background-color: rgb(255, 255, 255);
    color: rgb(28, 28, 28);
    z-index: 100;
    box-shadow:0;
    margin-left: 250px;
    padding-top: 0.5vh;
    padding-bottom: 8vh;
    padding-right: 5vw;
}

h1 {
    font-family: Heading;
    margin-left: 5vw;
    padding-top: 2vh;
    font-size: 50px;
}

h2 {
    margin-left: 5vw;
    padding-top: 2vh;
    font-size: 30px;
    font-family: TextBold;
}

h3 {
    margin-left: 5vw;
    padding-top: 2vh;
    font-size: 20px;
    font-family: TextBold; 
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4 {
    margin-left: 5vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 18px;
}

.text p {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 18px;
}

.divider {
    margin-right: 2vw;
    margin-left: 6vw;
    color: #f4f3f350;
    margin-top: 5vh;
}

.ccimg {
    float: right;
    width: 200px;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
}

.ccpara {
    margin-bottom: 5vh;
}

.cctable .left {
    text-align: center;
    width: 40vw;
}

.cctable .right {
    width: 40vw;
}

.cctable th {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.cctable ul {
    list-style-type: none;
}

.italic {
    font-family: TextItalic;
}

.ccrow {
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.imgcontainer {
    float: right;
    margin-left: -2vw;
}

.imgcontainer table {
    background-color: #F4F3F3;
    width: 13vw;
}

.imgcontainer table p {
    font-family: TextItalic;
    font-size: 15px;
    margin: 0;
    padding: 0.5vh;
    padding-bottom: 1vh;
}

a {
    color: #1c1c1c;
}

.highlight {
    position: relative;
    display: inline-block;
    z-index: 5;
    
    transition: all 0.5s ease;
}

.highlight::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: 100%;
    height: 1vh;
    background-color: rgb(117, 168, 169);
    z-index: -1;
    transition: all 0.3s ease;
}

.highlight:hover::before {
    height: 3vh;
}

.geogimg {
    width: 200px;
}

.mainmap {
    transition: all 0.5s ease;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ashariamap {
    width: 27vw;
}

#arkmoremap {
    width: 60vw;
}

#kinemoremap {
    width: 45vw;
}

#othmap {
    width: 35vw;
}

#kidetamap {
    width: 35vw;
}

.mainmap:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.292);
    cursor: pointer;
}

.mappopup {
    background-color: rgba(28, 28, 28, 0.73);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    bottom: 0;

    display: none;
}

.popupcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    height: 100%;
}

.popupimage {
    display: block;
    margin-top: 3vh;
    margin-bottom: 3vh;
    cursor: default;
}

#arkmoreimgpp {
    width: 75vw;
}

#ashariaimgpp {
    width: 52vw;
}

/* TABLE */
.text table {
    float: none;
    border-collapse: collapse;
    
    margin-left: 4.9vw;
    margin-top: 5vh;
}

.text table p {
    margin: 0;
    padding: 0;
}

.text table .crest {
    width: 11vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

table .housename {
    text-align: center;
    width: 14vw;
}

table .housedesc {
    text-align: center;
    width: 50vw;
}

table .desctext {
    text-wrap: wrap;
    text-align: center;
    padding: 3vw;
}

@media (max-width: 1000px) {
    .sidenav {
        display: none;
    }

    .submain {
        margin-left: 0;
    }

    .text table .crest {
        width: 15vw;
    }
    
    table .housename {
        width: 20vw;
    }
    
    table .housedesc {
        width: 60vw;
    }

    #ashariamap {
        width: 40vw;
    }

    .open-menu {
        display: block;
    }

    .headerbar {
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .collapse-menu {
        display: none;
    }
}